@font-face {
    font-family: 'GeorgeCafe';
    src: url(../fonts/Louis-George-Cafe.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    font-family: 'GeorgeCafe';
}
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    background-color: #212322;
    padding: 1rem;
}
a{
    text-decoration: none;
    color:#C8C9C7;

}
.stickyBar {
    position:sticky;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap:1.6rem;
    background-color: #212322;
    border-top:.1rem solid rgb(27, 24, 24);
    padding: 1rem;
}
h2 {
    color:#C8C9C7;
    font-size: 2rem;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.redesLogos{
    width: 2.5rem;
    height: 2.5rem;
    color: #C8C9C7;
}
.carritoBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
path{
    fill: #C8C9C7;
}
.search_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}
#search {
    height: 2rem;
    width: 25rem;
    border-radius: .5rem;
}
.searchBtn{
    margin-top: .2rem;
    height: 2rem;

}

.categorias {
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
}
.catTitle {
    width: 10rem;
    padding: .4rem;
    border-bottom: 2px solid #212322;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 2rem;
}
.checkButtons {
    display: flex;
    flex-direction: row;
    gap:1rem;
    
    
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 70rem;
    gap: 2rem;
}

.card {
    padding: 0;
    width: 10rem;
    height: 15rem;
    border: 1px solid #212322;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem #212322;
    flex: 0 1 auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    overflow: hidden;
    flex-direction: column;
}
.foto{
    flex-shrink: 2;
    min-width: 100%;
    min-height: 100%;
}
.info {
    position: relative;
}
.nombre,.precio {
    position:absolute;
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 17);
    opacity: 94%;
    color: #C8C9C7;
    width: 100%;
    text-align: center;
}
.precio {
bottom: 0;
}
.nombre {
    bottom: 2rem;
}
.logo{
    padding: 0;
    margin: 0;
    display: flex;
    /* justify-content: center;
    align-items: flex-end; */
    gap: 1px;
}
.bottiLogo{
    width: 7.5rem;
    height: 4.5rem;
}

/* Dropdown Button */
.dropbtn {
    background-color:#212322;
    color: #C8C9C7;
    padding: 1rem;
    font-size: 1rem;
    padding: 0;
    border: none;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Links inside the dropdown */
.dropdown-content a {
    color: #212322;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:#212322;}

.producto_container {
    display: flex;
    justify-content: center;
}
.detail_img {
    max-width: 75vw;
    max-height: 75vh;
}
.detail_container{
    display: flex;
    flex-direction: column;
}

.imgdetail{
    text-decoration: none;
}
.producto_precio{
    font-size: 1.2rem;

}
.producto_categoria{
    font-size: 1.2rem;
}
.stock{
    font-size: 1.2rem;
}

.contacto_container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;

}
.info_contacto{
    background-color: #212322;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 25%;
    flex-wrap: wrap;
}
.chat{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mensajes{
    height: 50vh;
    width: 30vw;
    border: solid #212322 2px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}
.barraMensaje {
    display: flex;
    padding-bottom: 2rem;
}
#msg_input{
    width: 27vw;

}
.infoTitle{
    color: #C8C9C7;
}

.infoP{
    color: #C8C9C7;
}

.contenedor_mapa{
    border: solid #212322 2px;
}


.chat-bubble {
  position:relative;
	padding: 1.2em;
  margin: 1em 0 3em 20%;
  color: #fff;
  background-image: linear-gradient(0deg,hsl(216,100%,52%),hsl(216,100%,62%));
  border-radius:30px;
	z-index: 2;
	font-family: sans-serif;
	line-height: 1.2em;
	max-width: 450px;
}

.chat-bubble:before, .chat-bubble:after {
	content: '';
	position: absolute;
	right: 10%;
	width: 10%;
}

/* creates larger curve */
.chat-bubble:before {
    z-index: 0;
    bottom: -12px;
		height: 15px;
    border-right: 25px solid hsl(216,100%,52%);
    background: hsl(216,100%,52%);
    border-bottom-left-radius: 80px 50px;
}

/* creates smaller curve */
.chat-bubble:after {
    z-index: 1;
    bottom: -13px;
    height: 13px;
    background: #fff;
    border-radius: 0 0 0 50px;
}
.chat-bubble.chat-left {
	background-color: hsl(250,13%,91%);
	background-image: none;
	color: #111;
	margin-right: 20%;
	margin-left: 0;
}
.chat-bubble.chat-left:before,
.chat-bubble.chat-left:after 
{
	right: auto;
	left: 10%;
}
.chat-bubble.chat-left:before {
	border-left: 25px solid hsl(250,13%,91%);
	background: hsl(250,13%,91%);
	border-right: 0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius: 80px 50px;
}
.chat-bubble.chat-left:after {
	border-radius: 0 0 50px 0;
}
.chat-bubble.chat-green {
	background: hsl(119,60%,51%);
}
.chat-bubble.chat-green:before {
	border-color: hsl(119,60%,51%);
	background: hsl(119,60%,51%);
}

.pSender {
    position: absolute;
    color:rgb(0, 201, 252);
    top: 0;
}

.pFecha{
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    right: 9px;
    color: #212322;
}

.imgdetail:hover{
    scale: 1.2;
    outline: #111 solid 4px;
    border-radius: 1rem;
}

.delete_icon{
    position: absolute;
    bottom: 5rem;
    right: 1rem;
}
.borrar_icon {
    fill: red;
}

.borrar_icon:hover{
    scale: 1.2;
}
.editar_icon {
    fill: green;
}
.editar_icon:hover {
    scale: 1.2;
}
.update_icon{
    position: absolute;
    bottom: 5rem;
    left: 1rem;
}

.panelRow:nth-child(even) {
    background-color: #D6EEEE;
  }