{% extends 'base.html' %}
{% block contenido %}
<form method="post">
{% csrf_token %}
<div class="container">
    <div class="botonContainer">
        <a href="{% url 'panel-entradas-nuevo'%}"><svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.4rem" viewBox="0 0 24 24"><path class='agregar_icon' d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7 14h-5v5h-4v-5h-5v-4h5v-5h4v5h5v4z"/></svg></a>
        <h4 style='font-size:1.3rem;'>Agregar Empleado</h4>
    </div>
<table>
    {{form.as_table}}
</table>
</form>
<input type="submit" value="Actualizar">
</div>
{% endblock contenido %}