{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="categorias">
    <div class="catTitle">Categorias</div>
    <div class="svg"></div>
    <div class="svg"></div>
    <div class="order"></div>
    {% comment %} <select name="" id="">
        <option value="a-z">Nombre(A-Z)</option>
        <option value="z-a">Nombre(Z-A)</option>
        <option value="high">Mayor precio</option>
        <option value="low">Menor precio</option>
    </select> {% endcomment %}
</div>
<div class="container">
    <form action="{% url 'tienda-check' %}" method="post" onsubmit="return checkForm(this);">
    {% csrf_token %}
    <div class="checkbuttons">
        <div>
            <input type="checkbox" name="productSelect" id="cerveza" value="CERVEZA" class='checkbox'>
            <label for="cerveza">Cerveza</label>
        </div>
        <div>
            <input type="checkbox" name="productSelect" id="malbec" value="VINOMALBEC" class='checkbox'>
            <label for="malbec">Malbec</label>
        </div>
        <div>
            <input type="checkbox" name="productSelect" id="blanco" value="VINOBLANCO" class='checkbox'>
            <label for="blanco">Blancos</label>
        </div>
        <div>
            <input type="checkbox" name="productSelect" id="blend" value="VINOBLEND" class='checkbox'>
            <label for="blend">Blends</label>
        </div>
        <div>
            <input type="checkbox" name="productSelect" id="Aperitivo" value="APERITIVO" class='checkbox'>
            <label for="Aperitivo">Aperitivos</label>
        </div>
        <div>
            <input type="checkbox" name="productSelect" id="vodka" value="VODKA" class='checkbox'>
            <label for="vodka">Vodka</label>
        </div>
        <div>
            <input type="checkbox" name="productSelect" id="whisky" value="WHISKY" class='checkbox'>
            <label for="whisky">Whisky</label>
        </div>
        <div>
            <input type="checkbox" name="productSelect" id="ron" value="RON" class='checkbox'>
            <label for="ron">Ron</label>
        </div>
        <div>
            <input type="checkbox" name="productSelect" id="gin" value="GIN" class='checkbox'>
            <label for="gin">Gines</label>
        </div>
        <div>
            <input type="checkbox" name="productSelect" id="Esmpumantes" value="ESPUMANTE" class='checkbox'>
            <label for="Esmpumantes">Espumantes</label>
        </div>
    </div>
    <input type="submit" value="Aplicar Filtros">
</form>
    <div class="cards">
        {% for producto in productos %}

        <a href="{% url 'tienda-producto-detalle' producto.id%} " class='imgdetail'>
        <div class="card">
            <div class="foto">
                {% if producto.img %}
                <img src='../media/{{producto.img}}' alt="vino" height="100%" width"100%">
                {% else %}
                <img src='{% static "images/cordero-lobo-cs.jpg" %}' alt="vino" height="100%" width"100%">
                {% endif %}

            </div>
            
            <div class="info">
            <div class="nombre">{{producto.nombre}}</div>
            <div class="precio">${{producto.pVenta}}</div>
            </div>
        </div>
    </a>

        {% endfor %}

        
    </div>
</div>

{% endblock contenido %}